<%- include("partials/header") %>
<div class="container">
    <div class ="jumbotron" style="text-align: center;">
        <h1>Welcome to My collection!</h1>
        <div class="container">
            <img src ="https://www.droidgamers.com/wp-content/uploads/2019/07/sky-children-of-light.jpg"class="img-fluid" width="100%">
        </div>
        <br>
        <a class="btn btn-outline-primary" href="/sky" role="button">View all sky</a>
    </div>
</div>
<%- include("partials/footer") %>